@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&family=Arizonia&family=Jersey+10&family=Megrim&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sankofa+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background: url("https://img.freepik.com/free-vector/stage-lighting-spectacular-scene_107791-32750.jpg?semt=ais_hybrid&w=740&q=80"); */
  min-height: 100vh;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  position: sticky;
  top: 0;
  background-color: black;
  box-shadow: 0 2px 5px rgba(4, 4, 4, 0.337);
  backdrop-filter: blur(10px);
  z-index: 999;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
  max-width: 1600px;
}
@media screen and (max-width: 1025px) {
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 0 1rem;
    margin-left: 50px;
    /* max-width: 1600px; */
  }
}
.navbar-logo {
  font-family: "Poppins";
  font-variation-settings: "wght" 100, "wdth" 50, "STRS" 0;
  font-size: 1.8rem;
  text-decoration: none;
  color: #f3e5c3;
  font-weight: 600;
  cursor: pointer;
}

.navbar-container .navbar-menu {
  display: flex;
  text-align: center;
  gap: 1.5rem;
  list-style: none;
  margin-top: 10px;
}
.navbar-container .navbar-menu li a {
  text-decoration: none;
  color: white;
  font-family: "Poppins";
  font-size: 1.3rem;
  font-weight: 600;
  /* padding: 3px 15px; */
  border-radius: 20px;
  border: 2px solid transparent;
  transition: all ease-in-out 0.4s;
  white-space: nowrap;
}
.navbar-container .navbar-menu li a:hover {
  /* color: rgba(0, 0, 0, 0.726); */
  /* background: #f3e5c3; */
  /* border:2px solid white; */
  color: #085208;
  transform: scale(1.5);
}

.navButton {
  --green: #1bfd9c;
  font-size: 15px;
  padding: 0.2em 1.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: poppins;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(
    to right,
    rgba(27, 253, 156, 0.1) 1%,
    transparent 40%,
    transparent 60%,
    rgba(27, 253, 156, 0.1) 100%
  );
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4),
    0 0 9px 3px rgba(27, 253, 156, 0.1);
}

.navButton:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6),
    0 0 9px 3px rgba(27, 253, 156, 0.2);
}

.navButton:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform 0.4s ease-in-out;
  background: linear-gradient(
    to right,
    transparent 1%,
    rgba(27, 253, 156, 0.1) 40%,
    rgba(27, 253, 156, 0.1) 60%,
    transparent 100%
  );
}

.navButton:hover:before {
  transform: translateX(15em);
}

.navbar-toggle {
  background: transparent;
  padding: 10;
  border: none;
  cursor: pointer;
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #f3e5c3;
  transition: all ease-in-out 0.4s;
}

@media (max-width: 880px) {
  .navbar {
    backdrop-filter: none;
  }
  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.7rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 5rem 1.5rem;
    background-color: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.547);
    backdrop-filter: blur(10px);
  }
  .navbar-container .navbar-menu.active {
    display: flex;
  }
  .navbar-toggle {
    display: block;
    z-index: 999;
  }

  .navbar-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .navbar-toggle.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .navbar-toggle.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* hero */

.hero {
  display: flex;
  padding: 40px;
  background-color: black;
  justify-content: space-between;
  flex-wrap: wrap;
}
.heroContent {
  color: white;
  padding: 20px;
  font-family: poppins;
  text-align: justify;
  line-height: 35px;
}
.hero2 {
  display: flex;
  padding: 40px;
  background-color: black;
  justify-content: space-between;
  flex-wrap: wrap;
}
.hero2Content {
  color: white;
  padding: 40px;
  font-family: poppins;
  text-align: justify;
  line-height: 35px;
}
@media screen and (max-width: 321px) {
  .navbar-container .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.1rem !important;
    position: absolute;
    height: 100vh;
    width: 250px;
    top: 0;
    right: 0;
    padding: 3rem 1.5rem;
    background-color: black;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.547);
    backdrop-filter: blur(10px);
  }

  .navbar {
    display: flex;
    align-items: start;
    justify-content: space-evenly;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
    box-shadow: 0 2px 5px rgba(4, 4, 4, 0.337);
    backdrop-filter: blur(10px);
    z-index: 999;
  }
  .navbar-container {
    display: flex;
    align-items: center;
    justify-content: left;
    /* width: 10%; */
    /* padding:  0.5rem; */
    gap: 30px;
  }
  .navbar-logo {
    font-family: "Poppins";
    font-variation-settings: "wght" 100, "wdth" 50, "STRS" 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: #f3e5c3;
    font-weight: 500;
    cursor: pointer;
    padding-right: 70px;
  }
  .hero {
    padding: 20px;
    align-items: center;
    justify-content: center;
  }
  .hero2 {
    padding: 20px 20px;
    align-items: center;
    justify-content: center;
    text-align: start;
  }
  .hero img {
    width: 320px;
  }
  .heroContent {
    text-align: start;
    line-height: normal;
    text-align: start;
  }
  .hero2 img {
    width: 320px;
  }
  .hero2Content {
    text-align: start;
    line-height: normal;
    padding: 20px;
    text-align: start;
  }

  /* card */
  /* From Uiverse.io by gharsh11032000 */
  /* From Uiverse.io by ahmedyasserdev */
  .unique-card {
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }

  .unique-card:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #888;
    z-index: 2;
    transition: color 0.3s;
  }

  .unique-card:hover .card-content {
    color: #ff7e5f;
  }

  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 73, 94, 0.7);
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .unique-card:hover .background-overlay {
    opacity: 1;
  }

  .card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .card-description {
    font-size: 16px;
  }
}
